/* Intro */

#intro {
    color: #ffffff;
    padding: 8rem 4rem 6rem 4rem ;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    cursor: default;
    text-align: center;
    z-index: 1;
    min-height: 100vh;
}

#intro input, #intro select, #intro textarea {
    color: #ffffff;
}

#intro a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#intro a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}

#intro strong, #intro b {
    color: #ffffff;
}

#intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
    color: #ffffff;
}

#intro blockquote {
    border-left-color: #ffffff;
}

#intro code {
    background: rgba(255, 255, 255, 0.075);
    border-color: #ffffff;
}

#intro hr {
    border-bottom-color: #ffffff;
}

#intro input[type="submit"],
#intro input[type="reset"],
#intro input[type="button"],
#intro button,
#intro .button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff !important;
}

#intro input[type="submit"]:hover,
#intro input[type="reset"]:hover,
#intro input[type="button"]:hover,
#intro button:hover,
#intro .button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
}

#intro input[type="submit"].primary,
#intro input[type="reset"].primary,
#intro input[type="button"].primary,
#intro button.primary,
#intro .button.primary {
    background-color: #ffffff;
    box-shadow: none;
    color: #1e252d !important;
}

#intro input[type="submit"].primary:hover,
#intro input[type="reset"].primary:hover,
#intro input[type="button"].primary:hover,
#intro button.primary:hover,
#intro .button.primary:hover {
    background-color: #18bfef;
}

#intro h1 {
    font-size: 5rem;
    line-height: 1;
}

#intro p {
    font-size: 1.25rem;
    font-style: italic;
    margin-top: -0.25rem;
    text-align: center;
}

#intro + #header {
    margin-top: -20rem;
}

#intro + #header .logo {
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
    visibility: hidden;
}

#intro.hidden {
    pointer-events: none;
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    -moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, visibility 0.5s;
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, visibility 0.5s;
    -ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, visibility 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
}

#intro.hidden + #header .logo {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

body.is-preload #intro {
    -moz-transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    transform: translateY(2rem);
    opacity: 0;
}

body.is-preload #intro:not(.hidden) + #header + #nav {
    -moz-transform: translateY(4rem);
    -webkit-transform: translateY(4rem);
    -ms-transform: translateY(4rem);
    transform: translateY(4rem);
    opacity: 0;
}

@media screen and (max-width: 980px) {

    #intro {
        padding: 4rem 4rem 2rem 4rem ;
        min-height: 90vh;
    }

    #intro p br {
        display: none;
    }

    #intro + #header {
        margin-top: -14rem;
    }

}

@media screen and (max-width: 736px) {

    #intro {
        padding: 3rem 2rem 1rem 2rem ;
        min-height: 80vh;
    }

    #intro h1 {
        font-size: 3.25rem;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    #intro p {
        font-size: 1rem;
        margin-top: 0;
    }

    #intro .actions {
        display: none;
    }

}

/* Actions */

ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1rem;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1rem;
    vertical-align: middle;
}

ul.actions.special {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
}

ul.actions.special li:first-child {
    padding-left: 0;
}

ul.actions.stacked {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
}

ul.actions.stacked li {
    padding: 1.3rem 0 0 0;
}

ul.actions.stacked li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    width: calc(100% + 1rem);
}

ul.actions.fit li {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

ul.actions.fit li > * {
    width: 100%;
}

ul.actions.fit.stacked {
    width: 100%;
}

@media screen and (max-width: 480px) {

    ul.actions:not(.fixed) {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        width: 100% !important;
    }

    ul.actions:not(.fixed) li {
        -moz-flex-grow: 1;
        -webkit-flex-grow: 1;
        -ms-flex-grow: 1;
        flex-grow: 1;
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        padding: 1rem 0 0 0;
        text-align: center;
        width: 100%;
    }

    ul.actions:not(.fixed) li > * {
        width: 100%;
    }

    ul.actions:not(.fixed) li:first-child {
        padding-top: 0;
    }

    ul.actions:not(.fixed) li input[type="submit"],
    ul.actions:not(.fixed) li input[type="reset"],
    ul.actions:not(.fixed) li input[type="button"],
    ul.actions:not(.fixed) li button,
    ul.actions:not(.fixed) li .button {
        width: 100%;
    }

    ul.actions:not(.fixed) li input[type="submit"].icon:before,
    ul.actions:not(.fixed) li input[type="reset"].icon:before,
    ul.actions:not(.fixed) li input[type="button"].icon:before,
    ul.actions:not(.fixed) li button.icon:before,
    ul.actions:not(.fixed) li .button.icon:before {
        margin-left: -0.5rem;
    }

}
